version: '3.8'

services:
  gold-backend:
    container_name: gold-backend
    build: .
    restart: unless-stopped
    ports:
      - "3023:3023"
    environment:
      NODE_ENV: production
      PORT: 3023
      DATABASE_URL: "sqlserver://sql2022:1433;database=acessos;user=srmobile;password=P90pO89o;encrypt=true;trustServerCertificate=true;"
      DATABASE_ACESSOS: "sqlserver://sql2022:1433;database=acessos;user=srmobile;password=P90pO89o;encrypt=true;trustServerCertificate=true;"
      DATABASE_MODELO: "sqlserver://sql2022:1433;database=goldpdv;user=srmobile;password=P90pO89o;encrypt=true;trustServerCertificate=true;"
      TENANT_DATABASE_URL_TEMPLATE: "sqlserver://sql2022:1433;database={{TENANT}};user=srmobile;password=P90pO89o;encrypt=true;trustServerCertificate=true;"
      DB_HOST: sql2022
      DB_PORT: "1433"
      DB_USER: srmobile
      DB_PASS: P90pO89o
      DB_ENCRYPT: "true"
      DB_TRUST_SERVER_CERTIFICATE: "true"
    networks:
      - vpn_docker
         

networks:
  vpn_docker:
    external: true
    driver: bridge
